@use '../variables';

.produtos-container {
    display: flex;
    gap: 20px;
    height: auto;
    margin: 40px 10px;
}

.filtro {
    width: 30%;

}

.produtos-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;

    .item-card {
        width: calc(33% - 10px); // 3 cards por linha com espaçamento de 20px
        max-height: 300px;
    }
}