@use '../variables' as *;

.produtos-container {
    display: flex;
    gap: 20px;
    height: auto;
    margin: 40px 10px;
}

.filtro {
    width: 30%;

}

.produtos-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    background-color: $bordo;
    border: 1px solid $cinza-claro;
    border-radius: 8px;

    .item-card {
        width: calc(33% - 10px); // 3 cards por linha com espaçamento de 20px
        max-height: 300px;
    }

    .sem-produtos-card {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $cinza-claro;
        border: 1px solid white;
        border-radius: 8px;
        color: $cinza-escuro;
        font-size: 1.8rem;
        text-align: center;
        padding: 20px;
    }
}